<h2><%= @user.username %>'s profile</h2>

<%# List of goals %>

<table class="ui celled table">
  <thead>
    <tr><th>Goal</th>
    <th>Type</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
  <% @user.goals.order('goals.created_at ASC').each do |goal| %>
    <% if current_user == @user || goal.goal_type == 'public'%>
      <tr>
        <td data-label="Name"><%= link_to goal.goal_content, user_goal_url(params[:id], goal.id) %></td>
        <td data-label="Type"><%= goal.goal_type %></td>
        <td data-label="Status"><%= goal.completed ? 'In progress' : 'Completed' %></td>
      </tr>
    <% end %>
  <% end %>
    
  </tbody>
</table>

<%# Comments for user %>
<br>
<h2>Comments</h2>
<div class="ui comments small">
  <% @user.incoming_user_comments.order('user_comments.created_at ASC').each do |comment| %>
    <div class="comment">
      <div class="content">
        <p class="author">>> <%= comment.author.username %></p>
        <div class="text">
          <%= comment.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# USER COMMENT FORM %>
<h3>Add comment</h3>

<% if flash[:errors] %>
  <div class="ui message warning">
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>

<form action="<%= user_comments_url %>" method="post" class="ui form">
  <%= auth_token %>
  <input type="hidden" name="user_comment[user_id]" value="<%= params[:id] %>">
  <label for="user_comment-comment">Comment</label>
  <br>
  <textarea name="user_comment[content]" id="user_comment-comment" cols="60" rows="2"></textarea>
  <br>
  <br>
  <input type="submit" value="Submit" class="ui button">
</form>


<div class="ui divider"></div>


<%# New goal %>
<div>
  <%= link_to '< Back to all users', users_url, class: 'ui button' %>
  <% if current_user == @user %>
    <%= link_to '+ Add goal', new_user_goal_url(params[:id]), class: 'ui button positive' %>
  <% end %>
</div>
