<h2><%= @user.username %>'s profile</h2>

<%# List of goals %>

<table class="ui celled table">
  <thead>
    <tr><th>Goal</th>
    <th>Type</th>
    <th>Status</th>
  </tr></thead>
  <tbody>
  <% @user.goals.order('goals.created_at ASC').each do |goal| %>
    <% if current_user == @user || goal.goal_type == 'public'%>
      <tr>
        <td data-label="Name"><%= link_to goal.goal_content, user_goal_url(params[:id], goal.id) %></td>
        <td data-label="Type"><%= goal.goal_type %></td>
        <td data-label="Status"><%= goal.completed ? 'In progress' : 'Completed' %></td>
      </tr>
    <% end %>
  <% end %>
    
  </tbody>
</table>

<div class="ui divider"></div>


<%# New goal %>
<div>
  <%= link_to '< Back to all users', users_url, class: 'ui button' %>
  <% if current_user == @user %>
    <%= link_to '+ Add goal', new_user_goal_url(params[:id]), class: 'ui button positive' %>
  <% end %>
</div>
