<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>
  <main class="main_container">
    <header class="header_container">

      <h1><%= link_to 'Music App', bands_url, class: 'header_title' %></h1>
      
      <div class="header_auth">
        <% if logged_in? %>
          <p>Logged in as: <%= current_user.email %></p>
          <%= button_to 'Log out', session_url, method: :delete %>
          
        <% else %>
          <%= link_to 'Sign in', new_session_url %>
          <%= link_to 'Sign up', new_user_url %>
        <% end %>
      </div>

    </header>


    <%= yield %>
    </main>
  </body>
</html>
