<h1><%= link_to @band.name, band_url(params[:id]) %></h1>
<div class="ui divider"></div>

<h3>Albums</h3>
<div class="ui items">
  <% @band.albums.each do |album| %>
    <div class="item">
      <%= link_to album.title, album_url(album) %>
    </div>
    
  <% end %>
</div>

<div class="ui divider"></div>
<div >
  <div class="ui button">
    <%= link_to 'New Album', new_band_album_url(params[:id]), method: :get %> 
  </div>
  <div class="ui button">
    <%= link_to 'Edit Band', edit_band_url(@band), method: :get %> 
  </div>
  <div class="ui button">
    <%= link_to 'Destroy Band', band_url, method: :delete %> 
  </div>
  <div class="ui button">
    <%= link_to 'All Bands', bands_url, method: :get %> 
  </div>
  
  
</div>

