<h2>Edit post</h2>

<br>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <div class="ui message warning">
      <%= error %>
    </div>
  <% end %>
<% end %>

<form action="<%= post_url(params[:id]) %>" method="post" class="ui form">
  <%= auth_token %>
  <%= patch_request %>

  <label for="post_title">Title</label>
  <input type="text" name="post[title]" id="post_title" value="<%= @post.title %>">
  

  <label for="post_url">URL</label>
  <input type="text" name="post[url]" id="post_url" value="<%= @post.url %>">

  <label for="post_content">Content</label>
  <textarea name="post[content]" id="post_content" cols="30" rows="10"><%= @post.content %></textarea>

  <br>
  <br>

  <label for="post_sub">Related sub</label>
  <select name="post[sub_id]" id="post_sub">
    <% Sub.all.order("subs.title").each do |sub| %>
      <option value="<%= sub.id %>" <%= @post.sub_id == sub.id ? 'SELECTED' : '' %>>
      
        <%= sub.title %>
      </option>
    <% end %>
  </select>


  <br>
  <br>

  <input type="submit" value="Edit post" class="ui button positive">

</form>