<h2>Add post</h2>

<br>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <div class="ui message warning">
      <%= error %>
    </div>
  <% end %>
<% end %>

<form action="<%= posts_url %>" method="post" class="ui form">
  <%= auth_token %>

  <label for="post_title">Title</label>
  <input type="text" name="post[title]" id="post_title">

  <label for="post_url">URL</label>
  <input type="text" name="post[url]" id="post_url">

  <label for="post_content">Content</label>
  <textarea name="post[content]" id="post_content" cols="30" rows="10"></textarea>

  <br>
  <br>

  <label for="post_sub">Related subs</label>
  <br>
  <br>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% Sub.all.order('subs.title ASC').each do |sub| %>
    <label>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>">
      <%= sub.title %>
    </label>
    <br>
  <% end %>

  <br>
  <br>

  <input type="submit" value="Create sub" class="ui button positive">

</form>

