<!--
POST TITLE
-->
<h2><%= link_to @post.title, post_url(@post) %> by <%= User.find_by(id: @post.author_id).username %></h2>

<% if logged_in? && current_user && current_user.id == @post.author_id %>
  <%= link_to 'Edit post', edit_post_url(@post.id) %>
<% end %>

<!--
POST CONTENT
-->
<div class="ui segment">
  <p>
    <%= @post.content %>
  </p>
  <p>
    <a href="<%= @post.url %>"><%= @post.url %></a>
  </p>
</div>


<div class="ui divider section"></div>

<!--
COMMENTS
-->

<div>
  <h3>Comments</h3>
    <% @post.comments.where(parent_comment_id: nil).order("comments.created_at ASC").each do |top_level_comment| %>
      <%= render 'comments/comment', comment: top_level_comment %>
    <% end %>
</div>


<!--
ADD NEW COMMENT
-->
  <br>
<% if logged_in? && current_user %>
  <%= link_to '+ New comment', new_post_comment_url(params[:id]), class: 'ui button positive mini'%>
<% end %>


<div class="ui divider section"></div>

<!--
RELATED SUBS
-->
<h3>Related subs</h3>
<div class="ui items divided">
  <% @post.sub_ids.each do |sub_id| %>
  <div class="item">
    <%= link_to Sub.find(sub_id).title, sub_url(sub_id) %>
  </div>
  <% end %>
</div>


