<h2><%= @goal.goal_content %></h2>

<div class="ui list">
  <div class="item">
    <strong>Type: </strong><%= @goal.goal_type == 'public' ? 'Public' : 'Private' %>
  </div>

  <div class="item">
    <strong>Status: </strong><%= @goal.completed == 'true' ? 'Completed' : 'In Progress' %>
  </div>

</div>


<%# DISPLAY USER COMMENTS %>
<h3>Comments</h3>

<div class="ui comments">
  <% @goal.comments.order('comments.created_at ASC').each do |comment| %>
    <div class="comment">
      <div class="content">
        <div class="author">
          >> <%= comment.author.username %>
        </div>
        <div class="text">
          <%= comment.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%# USER COMMENT FORM %>
<h4>New comment</h4>

<% if flash[:errors] %>
  <div class="ui message warning">
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>

<form action="<%= user_goal_comments_url(params[:user_id], params[:id]) %>" method="post" class="ui form">
  <%= auth_token %>

  <label for="goal_comment-content">Comment</label>
  <textarea name="comment[content]" id="goal_comment-content" cols="60" rows="2"></textarea>
  <br>
  <br>
  <input type="submit" value="Submit" class="ui button">
</form>


<div class="ui divider"></div>




<div class="ui divider"></div>

<div>
  <%= link_to '< Back to user', user_url(params[:user_id]), class: 'ui button' %>
  <%= link_to 'Edit goal', edit_user_goal_url(params[:user_id], params[:id]), method: :get, class: 'ui button' %>
  <%= link_to 'Delete Goal', user_goal_url(params[:user_id], params[:id]), method: :delete, class: 'ui button negative' %>
</div>